@import "../core/mixins";
:host {
	@include fullscreen;
}

md-progress-spinner {
	@include spinner-size();
}

.players li {
      cursor: pointer;
      position: relative;
      left: 0;
      background-color: #EEE;
      margin: .5em;
      padding: .3em 0;
      height: 1.6em;
      border-radius: 4px;
    }
    .players li.selected:hover {
      background-color: #BBD8DC !important;
      color: white;
    }
    .players li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }
    .players .text {
      position: relative;
      top: -3px;
    }
