<div fxLayout="column" fxFlex>
  <!-- <md-toolbar>
    <span>List</span>
    <span fxFlex></span>
  </md-toolbar> -->
  <md-grid-list cols="2">
    <!-- List view of players -->
    <md-grid-tile>

      <md-list fxFlex class="playersList">
        <md-list-item *ngFor="let player of players"
        (click)="onSelect(player)"
        [class.selected]="player === selectedPlayer">
          <md-icon md-list-icon>person</md-icon>

          {{player.name}}

        </md-list-item>
      </md-list>
    </md-grid-tile>
    <!-- Detail view -->
    <md-grid-tile>
      <router-outlet></router-outlet>
    </md-grid-tile>
  </md-grid-list>

</div>
